<!DOCTYPE html>
<html>
  <head>
    <title>2w.vc</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="theme-color" content="#242424">

    <link rel="icon" href="https://isamin.kr/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="app">
      <div id="info">
        <p id="title">2w.vc</p>
        <p id="description">To wander, very curious</p>
      </div>
      <div id="content">
        <% for(const [key, data] of Object.entries(domains)) { %>
          <div id="mix">
            <p id="title"><%= key %></p>
            <div id="list">
              <% for(const [domain, name] of Object.entries(data)) { %>
                <a id="item" href="https://<%= domain %>" target="_blank">
                  <p id="link"><%= domain %></p>
                  <p id="name"><%= name %></p>
                </a>
              <% } %>
            </div>
          </div>
        <% } %>
        <p id="copyright">ⓒ 2020 isamin.kr. All Rights Reserved.</p>
      </div>
    </div>
  </body>
</html>