<!DOCTYPE html>
<html>
  <head>
    <title>2w.vc</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="//cdn.2w.vc/Jquery/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="/dist/css/style.css">
  </head>
  <body>
    <div id="title">2w.vc</div>
  </body>
</html>